<div class="card h-100 shadow-sm">
  <div class="image positon-relative product-card">
    <img src="{{ this.product.pictureURL }}" alt="{{ this.product.name }}" class="img-fluid bg-light">
    <div class="d-flex align-items-center justify-content-center hover-overlay">
      <button type="button" class="btn btn-warning fa fa-shopping-cart mr-2"></button>
      <button
        [routerLink]="['/shop', this.product.id]"
        type="button"
        class="btn btn-success">View</button>
    </div>
  </div>
  <div class="card-body d-flex flex-column">
    <a [routerLink]="['/shop', this.product.id]">
      <h6 class="text-uppercase">{{ this.product.name }}</h6>
    </a>
    <span class="mb-2">{{ this.product.price | currency }}</span>
  </div>
</div>