<div class="container mt-5">
  <h4>Internal Server Error - Refreshing the page will make the error disappear</h4>
  <h5 class="text-danger">Error: {{ this.error.message }}</h5>
  <p class="font-weight-bold">Note: if you are seeing this, you need to check your stack trace (on the server)</p>
  <p>What to do next?</p>
  <ol>
    <li>Check console/Network tab in dev tools</li>
    <li>Check for any failing requests</li>
    <li>Reproduce the error in Postman</li>
    <li>Check your server logs</li>
    <li>Debug your server to more details</li>
  </ol>
</div>